body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

ul.albums {
    list-style-type: none;
    width: 800px;
    margin: 0 auto;
}

ul.albums > li img {
    width: 610px;
    border: solid 5px white;
    margin: 5px auto 0;
}

